.register{
    overflow: hidden;
    .registerForm{
        max-width: 500px ;
        margin: 50px auto;
        border: 1px solid #eee;
        padding: 24px 20px 0px 20px;
    }
    .getCode{
        margin: -40px 0 -10px 0;
    }
    .submitFrom{
        margin-top: -30px;
    }
}